---
layout: default
title: Отзывы о отопительных котлах "Проскуров" украинского производителя
description: Все отзывы о котлах публикуются без правок. Оставьте свой честный отзыв о продукции предприятия "Проскуров-Термо", и мы его обязательно опубликуем!
---
<ul>
    {% for post in site.posts %}
    <li class="post-on-feedback">
        <h3>{{ post.title }}</h3>
        <p class="blogdate clear">{% include date_ru.html date=post.date %}</p>
        <div class="clear">{{ post.content |truncatehtml | truncatewords: 40 }}</div>
        <a href="{{ post.url }}">Читать полностью</a>
    </li>
    {% endfor %}
</ul>