---
layout: home
title: КотелКо-Отопительные котлы «Проскуров» украинского производителя
description: Прямо со склада! Надежный недорогой котел отопления по цене завода-изготовителя "Проскуров-Термо", со склада в г.Хмельницкий. Широкий модельный ряд - отопительные котлы на дровах, газовые, электрические. От 5 до 150 кВт. Доставка по Украине без предоплаты.
---

    <div class="hero parallax">
        <div role="banner" id="hero_text">
            <h1>THERMO-PROSKURIV-производительных отопительного оборудования г.Хмельницкий <img src="images/logo_proskuriv_600-sm.png" alt="логотип-Проскуров-Термо"/></h1>
            <h2>Отопительные котлы высокого качества<br>от украинского производителя!</h2>
            <div id="hero_logo"><img src="images/logo_proskuriv_600-sm.png" alt="Proskurov Termo logo" title="Проскуров Термо логотип"></div></div>
    </div>
<video id="video" autoplay muted loop poster="images/video_first_frame.jpg">

</video>
<script src="js/videoMob.js"></script>
    <main>
        <div class="main_wrapper">

            <section class="production">
                <h2 id="production">Продукция "Проскуров-Термо"<br><span>Европейское качество + Украинская цена!</span>
            </h2>
                <div class="production_grid">
                    <div class="production_item tverd_banner"><a href="javascript:void(0);">Твердотопливные<br>котлы</a>
                        <div class="prod_item_submenu_wrapper">
                            <ul class="production_item_submenu">
                                <li><a href="/kotly-na-drovah">С&nbsp;естественной&nbsp;тягой</a></li>
                                <li><a href="/kotly-s-ventilyatorom">С&nbsp;вентилятором&nbsp;поддува</a></li>
                                <li><a href="/s-varochnoy-plitoy">С варочной плитой</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="production_item gas_banner"><a href="javascript:void(0);">Газовые<br>котлы</a>
                        <div class="prod_item_submenu_wrapper">
                            <ul class="production_item_submenu">
                                <li><a href="/gas-dymohodnye">Дымоходные</a></li>
                                <li><a href="/gas-parapetnye">Парапетные</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="production_item el_banner"><a href="/elektrokotly">Электрические<br>котлы</a></div>
                    <div class="production_item pech_banner"><a href="/pechi-na-drovax">Отопительные<br>печи</a></div>
                    <div class="production_item delivery_banner"><a href="/delivery">Доставка по всей<br>Украине</a>
                    </div>
                    <div class="production_item main_banner"><p>Без посредников!</p>
                        <p>Цена от производителя!</p>
                        <p>Гарантия ПЯТЬ лет!<!--<img src="images/logo_proskuriv_600.png"/>--></p></div>
                    <div class="production_item service_banner"><a href="/service">Гарантия<br>и сервис</a></div>

                </div>
            </section>

                <article class="intro" role="contentinfo">
                    <h3>Представляем вашему вниманию линейку отопительных котлов украинского производителя «Проскуров-Термо»!</h3>
                    <p class="intro_first_par">Добро пожаловать на сайт Котел.Ко! Здесь Вы можете заказать качественное и надежное отопительное оборудование по цене  украинского завода-изготовителя "Проскуров-Термо", прямо с заводского склада в г.Хмельницкий.</p>
                    <div class="callback_wrapper">
                        <div class="callback_ask">
                            <p>У вас есть вопросы?</p>
                            <p>Нужна консультация?</p>
                            <p>Хотите заказать котел?</p>
                        </div>
                        <div class="callback_now">
                            <p>Звоните прямо сейчас</p>
                            <p>+38(068)&nbsp;0854088<br>+38(063)&nbsp;3800010</p>
                            <p>или оставьте номер телефона<br/>и мы вам перезвоним</p>
                        </div>

                        {% include callback_form.html %}

                    </div>
                    <p>За 15-летнюю историю существования предприятия "Проскуров-Термо" объёмы производства выросли во много раз, но главным пунктом стратегии развития всегда оставалось высокое качество, эффективность и безопасность продукции. Именно это и есть причиной высокой популярности котлов "Проскуров" в Хмельницкой области и на всем украинском рынке. Ежегодно мы продаём более 2000 отопительных агрегатов, и главные причины такой популярности – это:</p>
                    <ul>
                        <li>Высокий срок службы – прогрессивные технологии производства позволяют производить качественное отопительное оборудование, которое прослужит не менее 20 лет;</li>
                        <li>Широкий модельный ряд – мы постоянно трудимся на созданием новых моделей дровяных и газовых котлов, отвечающих требованиям потребителей;
                        </li>
                        <li>Гарантийное и послегарантийное обслуживание – мы даём полную пятилетнюю гарантию на всю нашу продукцию, и обеспечиваем послегарантийное обслуживание;</li>
                    </ul>

                    <img src="images/5-let-garantiya-kotly-proskurov.jpg" alt="5 let warranty kotly Proskurov" title="5 лет гарантии на котлы Проскуров"/>
                    <p>Отопительные аппараты "Проскуров-Термо" – это проверенные годами надежные конструкции и эффективные решения, и в то же время применение современных комплектующих и материалов позволяет установить низкую цену на отопительные устройства и добиться высокой экономичности отопления.</p>
                    <p>Предприятие выпускает широкую линейку нагревательных устройств. На сегодняшний день разработано 28 моделей отопительных котлов мощностью от 7 до 150 кВт. Модельный ряд котлов "Проскуров" представлен тремя типами отопительного оборудования:</p>
                    <ul>
                        <li>Газовые котлы – напольные котлы с дымоходом и парапетные с закрытой камерой сгорания;</li>
                        <li>Котлы на твердом топливе (дрова или уголь) – традиционного атмосферного горения и длительного горения с вентилятором; также есть модели с варочной плитой;
                        </li>
                        <li>Электрические котлы – отличное решение для периодического отопления помещений и поддержания плюсовой температуры в системе отопления;</li>
                        <li>Дровяные печи – так называемые «буржуйки», проверенные временем конструкции для воздушного отопления технических помещений.</li>
                    </ul>

                    <p>Вся продукция сертифицирована в соответствии с Государственным стандартом Украины, пожарными и санитарными нормами. А самое главное – мы даём 5 лет полной гарантии на отопительные агрегаты «Проскуров».</p>
                </article>

        </div>
        <div class="callback parallax">
            <div class="main_wrapper">

                <section id="about">
                    <h4 class="blog_header clear"><span class="article_header_bg">О предприятии "Проскурів-Термо" </span> <a href="/about/">Читать полностью</a></h4>
                    <article class="intro">
                        <h4>ООО "ПРОСКУРІВ-ТЕРМО" - одно из самых перспективных предприятий - производителей отопительных
                            аппаратов в Украине.</h4>
                        <p>Автономные системы отопления и горячего водоснабжения пользуются в Украине все возрастающим спросом. Это
                            оборудование позволяет не зависеть от снабжения коммунальными теплоэнерго с их сроками, режимами и нередкими
                            техническими сбоями. Пользователи этих систем убедились в их удобстве, надежности и экономической выгоде.</p>
                        <p>ООО "ПРОСКУРІВ-ТЕРМО" – один из ведущих в Украине производителей отопительных котлов высокого качества под
                            брендом «Проскуров», который с 2002 года продуктивно работает на рынке Украины и активно осваивает зарубежные.
                            Он использует новейшие разработки как мировых инжиниринговых центров, так и собственного коллектива
                            инженеров-конструкторов, учитывая особенности украинского потребителя.</p>
                        <p>Каждый котел «Проскуров» изготавливается из качественных материалов, имеет оптимальные размеры и эстетический
                            внешний вид. Для повышения надежности и долговечности мы используем комплектующие от лучших зарубежных фирм
                            (автоматика – из США, газовые горелки – из Италии).
                            Длительное время мы целенаправленно использовали наши силы и средства для экспериментов с целью отработки
                            новейших технических решений и технологий современного производства. Это дало возможность привлечь или
                            подготовить специалистов высокой квалификации, способных за короткий срок освоить производство новых видов
                            изделий. Их квалификация позволяет гарантировать безупречность производственных процессов как на стадии
                            проектирования, так и при непосредственном их изготовлении, в том числе с использованием современного
                            программного обеспечения. Все технические вопросы решаются ими самостоятельно, с высокой оперативностью.</p>
                    </article>
                </section>
            </div>

        </div>
        <div class="main_wrapper">

                <h4 class="blog_header clear"><span class="article_header_bg">Отзывы наших клиентов</span><a href="/feedbacks">Читать все отзывы</a></h4>
            <section>
                <ul class="feedback">
                    {% for post in site.posts limit:3 %}
                    <li class="post-on-feedback">
                        <h3>{{ post.title }}</h3>

                        <p>{% include date_ru.html date=post.date %}</p>
                        <div class="clear">{{ post.content |truncatehtml | truncatewords: 30 }}</div>
                        <a href="{{ post.url }}">Читать полностью</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <h4 class="blog_header clear"><span class="article_header_bg">Наш блог - новости и статьи</span><a href="/blog">Читать все статьи</a></h4>
            <section class="blog">
                {% for article in site.articles %}
                <a href="{{ article.url }}">
                    {% include date_ru.html date=article.date %}

                </a>
                <article class="blog_post">
                    <h3 class="blog_post_header">{{ article.name }}</h3>
                    {{ article.content |truncatehtml | truncatewords: 80 | markdownify }}
                    <p  class="clear"><a href="{{ article.url }}"><i>Читать полностью</i></a></p>
                </article>
                <hr>
                {% endfor %}
            </section>
        </div>
    </main>

    <a href="#production" id="mouse"><i></i></a>



