<header id="header" class="scro">
    <nav>
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>

            <menu id="mobile_nav">
                    <li><a href="/">Главная</a></li>
                    <li class="header_production"><a href="/#production">Продукция</a>
                        <ul class="mobile_sub-menu">
                            <li class="header_wood"><a href="javascript:void(0);">Твердотопливные котлы</a>
                                <ul class="mobile_sub-menu ">
                                    <li><a href="/kotly-na-drovah">С естественной тягой</a></li>
                                    <li><a href="/kotly-s-ventilyatorom">С вентилятором поддува</a></li>
                                    <li><a href="/s-varochnoy-plitoy">С варочной плитой</a></li>
                                </ul>
                            </li>
                            <li class="header_gas"><a href="">Газовые котлы</a>
                                <ul class="mobile_sub-menu">
                                    <li><a href="/gas-dymohodnye">Дымоходные</a></li>
                                    <li><a href="/gas-parapetnye">Парапетные</a></li>
                                </ul>
                            </li>
                            <li><a href="/elektrokotly">Электрические котлы</a>
                            </li>
                            <li><a href="/pechi-na-drovax/">Печи-буржуйки</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/#about">О&nbsp;нас</a></li>
                    <li><a href="/delivery">Доставка</a></li>
                    <li><a href="/service">Сервис</a></li>
                    <li><a href="#contact">Контакты</a></li>
            </menu>
        </div>
        <div class="nav_primary">
            <div class="header_inner">
                <div class="logo">
                    <a href="/" title="">
                        <img src="/images/logo_kotelko_noUrl.png" alt="KotelCo logo" title="Логотип Котел.Ко">
                    </a>
                </div>
                <menu class="main_menu scro">

                        <li><a href="/">Главная</a></li>
                        <li><a href="/#production">Продукция</a>
                            <ul class="sub-menu scro">
                                <li class="header_wood"><a href="javascript:void(0);">Твердотопливные&nbsp;котлы</a>
                                    <ul class="sub-menu scro">
                                        <li><a href="/kotly-na-drovah">С&nbsp;естественной&nbsp;тягой</a></li>
                                        <li><a href="/kotly-s-ventilyatorom">С&nbsp;вентилятором&nbsp;поддува</a></li>
                                        <li><a href="/s-varochnoy-plitoy">С варочной плитой</a></li>
                                    </ul>
                                </li>
                                <li><a href="/elektrokotly">Электрические котлы</a></li>
                                <li class="header_gas"><a href="javascript:void(0);">Газовые котлы</a>
                                    <ul class="sub-menu scro">
                                        <li><a href="/gas-dymohodnye">Дымоходные</a></li>
                                        <li><a href="/gas-parapetnye">Парапетные</a></li>
                                    </ul>
                                </li>
                                <li><a href="/pechi-na-drovax">Печи-буржуйки</a></li>
                            </ul>
                        </li>
                        <li><a href="/#about">О&nbsp;нас</a></li>
                        <li><a href="/delivery">Доставка</a></li>
                        <li><a href="/service">Сервис</a></li>
                        <li><a href="#contact">Контакты</a></li>
                </menu>
            </div>
        </div><!--#nav-primary-->
    </nav>
    <div class="mobile_logo">
    <a href="/" title="">
        <img src="/images/logo_kotelko_noUrl.png" alt="KotelCo logo" title="Логотип Котел.Ко">
    </a>
</div>
</header>