<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js ie9" lang="ru-UA"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru-UA"><!--<![endif]-->
{% include head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KP28WL"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include header.html %}
<div class="wrapper" id="wrapper">
    {{ content }}
    {% include footer.html %}
</div>
{% include callback_btn.html %}
<script src="js/home.js"></script>
{% include jivosite.html %}
</body>
</html>
