---

---
<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js ie9 no_parallax" lang="ru-UA"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js no_parallax" lang="ru_UA"><!--<![endif]-->
{% include head.html %}
<body class="no_parallax">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KP28WL"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include header.html %}
<div class="default_content">
    {{ content }}

</div>
    {% include footer.html %}
    {% include callback_btn.html %}
<script src="/js/mobmenu.js"></script>
</body>
</html>


